body {
    background-color: rgb(236, 233, 233);
    color: #76eec6;
}

img {
    height: 200px;
    width: 300px; 
}


h1 {
    text-align: center;
    font-family: 'Macondo'; 
   }

h2

p {
    font-size: 800px;
    font-family: 'Shadows Into Light', cursive;
}
navbar {
    position: fixed;
    color: #e52b50;
    background-color: black;
    padding-left: 50%;
    margin-top: 0px;
}

    
navbar li {
    display: inline;
    text-decoration: underline;
    font-family: 'Macondo'; 
    
}      

main {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    column-gap: 20px;
}
.conteiner {
    width: 300px;
    background-image: url('./baner.jpg');
    background-size: cover;
    font-family: 'Cookie', cursive;
}


     
    /*<div>      <!--espectaculos-->
        <h1>Espectaculos</h1>
      <!--cartelera-->
      <!--teatro/danza-->
      <!--cine-->*/
.espectaculos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 3fr;
}      


      /*<div>    <!--menu-->
        <h1>Menú</h1>*/

     /* <!--cocteleria-->
      <!--cafeteria-->
      <!--bocadillos-->
      </div>


      <div>    <!--loclizacion--> 
        <h1>¿Donde estamos?</h1>*/
/*<footer>    <!--footer--> */